This is our assignment on conditional statement and looping

Problem 1 :

Write a small program to check a number is divisible by 7 or not

In [4]:
x=7
if  (x%7)==0:
    print("yes divisible by 7")
else:
    print("not divisible by 7")

yes divisible by 7

Problem 2  
If a number is divisible by either 5 or 7,then we call it a 'five-or-seven' number.
Write down a program to check if a number is 'five-or-seven' number or not.

In [5]:
x=12
if x%5==0 and x%7==0:
  print("divisible by both 5 and 7")
elif x%5==0:
  print("only divisible by 5") 
elif x%7==0:
  print("only divisible by 7")
else:
  print("not divisible by any")

not divisible by any

Problem 3 

Write a program to calculate then eletricity bill(accept nuber of unit from user)according to the following criteria:

upto first 100 units Rs.3 per unit.

Next 100 units Rs.5 per unit.

Next 300 units Rs.7 per unit.

Above that, for each unit exceeding 500, Rs. 10 per unit flat.

In [6]:
x=1000
if x>=0 and x<=100:
  bill=x*3
elif(x>100 and x<=200):
  bill=x*5
elif(x>200 and x<=500):
  bill=x*7
elif(x>500):
  bill=x*10
print(bill)

10000

Problem 4:

Find out sum of square of all the numbers upto 10,starting from 1

In [7]:
n=10
sum=(n*(n+1)*((2*n)+1))/6
print(sum)

385.0

Problem 5:

Find out sum of square of all the even numbers upto 10, satrtingfrom 1

In [8]:
sum=0
for num in range (0,10):
  if num%2==0:
    sum=sum+ (num**2)

print(sum)

120

Problem 6:

Check a number is prime or not

In [18]:
num=int(input('enter natural number:'))
if num>1:
  for i in range(2,int(num/2)+1):
    print("not a prime number")
    break
  else:
    print("prime no")

enter natural number:2
prime no

Problem 7:

Print multiplicatin table upto 10 starting from 1

In [19]:
def tables():
    for x in range(1, 11):
      print("")
      for y in range(1, 11):
        print(x*y,end=" ")
tables()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Problem 8:

Print the series of first n fibonacci numbers

In [20]:
x=10
n1, n2,=0,1
count=0
print("Fibonacci sequence:")
while count < x:
  print(n1)
  nth=n1 + n2
  n1 = n2
  n2 = nth
  count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34